@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Poppins" !important;
}

.navbarHeader {
    background-color: black;
}

.nav-items {
    list-style: none;
    display: flex !important;
    align-items: center !important;
}

.nav-item {
    font-size: 18px;
}

.nav-item:hover {
    color: aquamarine !important;
}

.formParent {
    background-color: black !important;
}

/* form */
.h100 {
    height: 100vh !important;
}

.bg-form {
    height: 100%;
    border-radius: 35px !important;
}

.formField {
    background: none;
    padding: 10px 20px;
    width: 60% !important;
    border: 1px solid gray;
    border-radius: 20px;
}

.fw-600 {
    font-weight: 600 !important;
}

input:focus-visible {
    outline: none !important;
}

.routerLinks {
    color: gray !important;
    text-decoration: none;
}

.routerLinks:hover {
    color: aquamarine !important;
}